torch==2.6.0+cu124
transformers==4.53.3
diffusers==0.34.0
accelerate==1.9.0
bitsandbytes
Pillow==11.3.0
numpy==1.26.4
opencv-python
langchain==0.0.353
langchain-community
ddgs==9.9.2
requests==2.32.5
tqdm==4.67.1
pydantic==2.12.4
gradio
protobuf
dataclasses-json
jsonpatch
langsmith
autoencoder-kl
cv2

